#banner .slider{
    background-image: url('./assets/images/banners/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    position: relative;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content : center;
        justify-content: center;
        
    }
    .test{
        background-color: rebeccapurple;
        li{ 
            display: inline-block;
        }
    }
    
}


